
<!DOCTYPE html>
<html>
<title>News Stand</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <div class="w3-container w3-orange">
        <h1>News Stand
            <a href="/help">?</a>
            <br>    
            <a id="home" href="/">Home Page</a>          
            <a id="update" href="/update">Update Editor</a>
            <a id="new" href="/add">Add Paper</a>
            <a id="delete" href="/delete">Delete Date</a> 
            </div>
        </h1>
    </div>

    {% block content %}{% endblock %}

</body>
</html>